* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.destaque-titulo {
    background: none;
    color: #22D4FD;
}