@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --primary: #2C3639;
    --secondary: #DCD7C9;
    --terciary: #A27B5C;
    --hover: #3F4E4F;
    --title-font: 'Krona One', sans-serif;
    --weight-600: 600;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary);
    color: var(--secondary);
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.header {
    padding: 2% 0 0 15%;
}

.menu, .menu ul {
    display: flex;
    list-style: none;
    gap: 80px;
}

.menu a {
    font-size: 1.5rem;
    font-weight: var(--weight-600);
    color: var(--terciary);
    text-decoration: none;
}

main {
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.destaque-titulo {
    background: none;
    color: var(--terciary);
}

.titulo {
    font-size: 2.25rem; /*36px*/
    font-family: var(--title-font);
}

.texto {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.btn {
    background: var(--primary);
    border: 2px solid var(--terciary);
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--terciary);
    font-weight: var(--weight-600);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn:hover {
    background: var(--hover);
}

.subtitle {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.footer {
    color: var(--primary);
    background: var(--terciary);
    padding: 24px;
    text-align: center;
    font-weight: var(--weight-600);
    font-size: 1.5rem;
}